body{
    padding: 0%;
    margin: 0%;
    background-color: white;
    width: 100%;
    font-size: 14px;
}
header{
    align-items: center;
    display: flex;
    height: 8vh;
    justify-content: space-between;
}
.logo{
    height: 80%;
}
.logo img{
    width: 100%;
    height: 100%;
}
.menu a{
    text-decoration: none;
    padding-right: 10px;
    color: black;
    padding: 10px;
    border-radius: 13px;
}
.menu a:hover{
    background-color: rgb(21, 181, 230);
    color: white;
}

header ul{
    display: none;
}
li{
    list-style:none;
    margin: 10px;
}
header ul li a{
    margin: 2px;
}
main{
    height: 92vh;
    min-height: 550px;
}
.biografia{
    height: 100%;
    background-color: #E4E9EF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.biografia div{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
}
.biografia img{
    border-radius: 10px;
}
.biografia span i{
    margin-right:10px;;
}
.imgDesktop{
    display: none;
}
.carrousel{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: #F5F8FD;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 1px solid transparent;
}
.card:hover {
    border: 1px solid rgb(21, 181, 230);   
}
.card img{
    max-width: 220px;
    max-height: 145px;
    padding: 10px;
    border-radius:20px;
}
#contacto {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
footer{
    background-color: rgb(161, 205, 228);
    display: flex;
    justify-content: flex-start;
}
footer ul{
    display: flex;

}
footer ul li span{
    padding: 10px;
    width: 40px;
    height: 40px;
}
footer ul li :hover{
    color:#668fd4;
    background-color: #F5F8FD;
    border-radius: 40px;
    
}


@media (min-width: 600px){
    body{
    }
        display: flex;
    }
}